doctype html
html
    head
        style
            include style.css
    body
        div.main
            block content
        div.footer
            | You received this message because you (or someone using your e-mail) have created an account using this email.
            | Not registered?
            a(href="#") Close your account


