extends template
block content
    div
        | Thank you for registering.
        | Confirm your email address #{userEmail} to get full access to your account.
        br
        button.button
            |Confirm your email
        br
